@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Proxima Nova";
    src: url("/font.ttf");
}

.mobile-nav-toggle {
    z-index: 100;
    width: 1.75rem;
    aspect-ratio: 1;
    background: url("/menu.svg");
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
}

#mobile-nav[data-visible="true"] {
    transform: translateX(0%);
}

.mobile-nav-toggle[aria-expanded="true"] {
    background: url("/close.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#blog-post h1 {
    font-family: 'Proxima Nova', sans-serif;
    color: #171716;
}

